<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colored Heading</title>
    <style>
        .heading {
            font-size: 2em;
        }
        .red {
            color: red;
        }
        .blue {
            color: blue;
        }
    </style>
</head>
<body>
    <h1 class="heading">
        <span class="red">Hello, </span><br>
        <span class="blue">Shaikh Huda Shams</span>
    </h1>
</body>
</html>
